html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

i, em {
  font-style: normal; }

a {
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2;
  font-size: 14px;
  font-family: "simsun", arial; }

* + html body {
  line-height: 1.125; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix {
  zoom: 1; }
  .clearfix:after {
    content: 'clear';
    display: block;
    visibility: hidden;
    clear: both;
    line-height: 0;
    height: 0; }

input {
  box-sizing: content-box; }

.dn {
  display: none; }

.btn {
  color: #ffffff;
  border: none;
  font-size: 14px;
  font-family: "Microsoft YaHei", verdana, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 3px;
  width: 100%;
  display: block;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }

.btn_unneed {
  color: #666666; }

.btn_info {
  background-color: #1153A7; }

.btn_warning {
  background-color: #eb9000; }

.btn_primary {
  background-color: #db281f; }

.btn_prompt {
  background-color: #629500; }

.btn_unneed {
  background-color: #f7f7f7; }

.btn_info:hover {
  background-color: #0a438b; }

.btn_warning:hover {
  background-color: #ea7f00; }

.btn_primary:hover {
  background-color: #b90900; }

.btn_prompt:hover {
  background-color: #457a00; }

.btn_unneed:hover {
  background-color: #dddddd; }

.header {
  font-size: 12px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #dddddd; }
  .header .h_container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 13px;
    padding: 8px 0 7px; }
  .header li {
    float: left;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #dddddd; }
    .header li a {
      color: #666666; }
      .header li a:hover {
        color: #1153a7; }
        .header li a:hover .icon_nav {
          background-position: -204px -3px; }
        .header li a:hover .icon_arrow {
          background-position: -244px -3px; }
  .header .h_noline {
    padding-right: 0;
    margin-right: 0;
    border: none !important; }
  .header .h_leftside {
    float: left; }
  .header .h_rightside {
    float: right; }
  .header .h_red {
    background-color: #db281f;
    color: #ffffff;
    border-radius: 2px;
    display: inline-block;
    padding: 1px 1px;
    width: 14px;
    text-align: center; }
  .header .icon_weixin, .header .icon_weibo {
    display: inline-block;
    background-image: url("../img/smallIcon.png");
    width: 16px;
    height: 14px; }
  .header .icon_weixin {
    background-position: -142px -3px; }
  .header .icon_weibo {
    background-position: -162px -3px; }
  .header .icon_nav, .header .icon_arrow {
    display: inline-block;
    background-image: url("../img/smallIcon.png");
    width: 11px;
    height: 14px;
    vertical-align: middle; }
  .header .icon_nav {
    margin-right: 5px;
    background-position: -184px -3px; }
  .header .icon_arrow {
    margin-left: 5px;
    background-position: -224px -3px; }
  .header .h_hassub {
    position: relative;
    display: block;
    z-index: 10; }
    .header .h_hassub a {
      margin: 0 5px; }
  .header .h_two_code_box {
    display: none;
    z-index: 10;
    border: 1px solid #dddddd;
    position: absolute;
    right: 0;
    top: 20px;
    padding-top: 20px;
    width: 280px;
    background-color: #ffffff; }
    .header .h_two_code_box .htcb_photeline {
      overflow: hidden; }
    .header .h_two_code_box .htcb_readme {
      border-top: 1px dashed #dddddd;
      padding: 5px 10px;
      line-height: 18px;
      background-color: #f7f7f7; }
    .header .h_two_code_box img {
      margin-bottom: 5px; }
    .header .h_two_code_box span {
      float: left;
      width: 110px;
      margin: 0 15px 10px 15px;
      text-align: center; }
  .header .h_subbox {
    display: none;
    top: 21px;
    width: 100px;
    left: -20px;
    z-index: 10;
    position: absolute;
    border: 1px solid #dddddd;
    border-top: 2px solid #1153a7;
    background-color: #ffffff; }
    .header .h_subbox li {
      border-right: none;
      margin-right: 0;
      padding: 11px 12px;
      float: none;
      border-bottom: 1px dashed #dddddd; }

.header_without_nav {
  border-bottom: 4px solid #1153a7; }

.nav {
  background-color: #1153a7;
  margin-bottom: 40px; }
  .nav .n_container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden; }
  .nav .n_logo {
    float: left;
    margin: 18px 45px 0 0; }
  .nav li {
    float: left; }
    .nav li a {
      float: left;
      font-size: 18px;
      color: #cde8ff;
      font-family: "Microsoft YaHei", verdana, Arial, sans-serif;
      text-decoration: none;
      padding: 22px 25px; }
      .nav li a.active {
        background-color: #004193;
        color: #f9df00; }
  .nav .search_line {
    float: right;
    overflow: hidden;
    position: relative;
    margin-top: 16px;
    z-index: 1; }
    .nav .search_line label {
      display: inline-block;
      text-indent: -1000em;
      position: absolute;
      top: 8px;
      left: 10px;
      width: 20px;
      height: 20px;
      background-image: url("../img/smallIcon.png");
      background-position: -60px 0; }
    .nav .search_line input {
      border: none;
      display: inline-block;
      background-color: #2b65b0;
      border-radius: 6px;
      line-height: 36px;
      color: #ffffff;
      height: 36px;
      width: 255px;
      font-size: 14px;
      padding: 0 5px 0 40px; }
  .nav .search_box {
    padding: 12px 345px 12px 0;
    float: right; }
    .nav .search_box label {
      font-size: 18px;
      color: #ffffff;
      font-family: "Microsoft YaHei", verdana, Arial, sans-serif;
      margin-right: 5px; }
    .nav .search_box input {
      border: none;
      display: inline-block;
      background-color: #ffffff;
      border-radius: 6px 0 0 6px;
      line-height: 36px;
      color: #666666;
      height: 36px;
      width: 390px;
      font-size: 14px;
      padding: 0 5px 0 10px;
      vertical-align: middle; }
    .nav .search_box button {
      height: 36px;
      padding: 0 15px;
      vertical-align: middle;
      border: none;
      width: 50px;
      border-radius: 0 6px 6px 0;
      background-color: #eb9000;
      text-align: center; }
      .nav .search_box button .icon {
        display: block;
        width: 20px;
        height: 20px;
        background-image: url("../img/smallIcon.png");
        background-position: -280px 0; }

.content {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  margin-bottom: 30px; }

.single {
  width: 960px; }

.mside {
  width: 960px;
  float: left; }

.aside {
  width: 210px;
  float: right; }

.mask {
  width: 100%;
  height: 2000px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: .5;
  filter: alpha(opacity=50); }

.ui-dialog {
  position: fixed;
  top: 50px;
  left: 50%;
  z-index: 1010;
  background-color: #ffffff;
  border-radius: 8px;
  width: 300px;
  font-family: "Microsoft YaHei" verdana Arial, sans-serif; }
  .ui-dialog .ui-title {
    font-size: 1.125em;
    padding: 20px 15px;
    border-bottom: 1px solid #dddddd;
    color: #666666; }
  .ui-dialog .ui-content {
    padding: 30px 15px;
    border-bottom: 1px solid #c7c7c7;
    line-height: 1.2em;
    color: #666666; }
  .ui-dialog .ui-btnGroup {
    border-top: 1px solid #f8f8f8;
    padding: 15px;
    overflow: hidden; }
    .ui-dialog .ui-btnGroup button {
      border: 1px solid #dddddd;
      background-color: #ffffff;
      display: inline-block;
      border-radius: 4px;
      padding: 8px 16px;
      float: right;
      line-height: 1;
      letter-spacing: 1;
      cursor: pointer;
      margin-left: 15px;
      color: #999999; }
      .ui-dialog .ui-btnGroup button:first-child {
        color: #ffffff;
        border: 1px solid #0a438b;
        background-color: #0a438b; }
  .ui-dialog .ui-closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #dddddd;
    font-weight: bold;
    font-family: verdana;
    font-size: 20px; }

.ui-info {
  background-color: #ffffff;
  padding: 45px 30px;
  position: fixed;
  z-index: 110;
  top: 100px;
  left: 50%; }

.ui-info-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #9e9e9e; }
  .ui-info-close:hover {
    color: #DB281F; }

.ui-info-loginBox {
  padding: 0 50px; }
  .ui-info-loginBox h3 {
    font-size: 24px;
    color: #9e9e9e;
    font-family: "Microsoft YaHei", verdana, Arial, sans-serif;
    padding-left: 120px;
    margin-bottom: 30px; }
  .ui-info-loginBox input {
    vertical-align: middle; }
  .ui-info-loginBox li {
    margin-bottom: 20px; }
  .ui-info-loginBox .lb_title {
    width: 3em;
    text-align: right; }
  .ui-info-loginBox label {
    font-family: "Microsoft YaHei", verdana, Arial, sans-serif;
    font-size: 16px;
    color: #666666;
    margin-right: 5px;
    display: inline-block; }
  .ui-info-loginBox .lb_text {
    padding: 0 5px;
    width: 208px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #dddddd; }
  .ui-info-loginBox .ui-tips {
    margin: 0 0 10px 53px;
    display: none;
    width: 182px;
    background-color: #f7f7f7;
    border-radius: 4px;
    padding: 5px 8px 5px 29px;
    position: relative;
    color: #666666;
    vertical-align: top; }
    .ui-info-loginBox .ui-tips:before {
      content: "!";
      background: url("../img/smallIcon.png") -340px 0 no-repeat;
      color: #ffffff;
      height: 16px;
      line-height: 16px;
      text-align: center;
      display: block;
      width: 16px;
      position: absolute;
      top: 5px;
      left: 8px;
      margin-right: 5px; }
  .ui-info-loginBox .lb_find {
    color: #9e9e9e;
    font-size: 12px;
    margin-left: 12px; }
  .ui-info-loginBox .lb_rememberline {
    padding-left: 53px; }
    .ui-info-loginBox .lb_rememberline input {
      vertical-align: middle; }
    .ui-info-loginBox .lb_rememberline label {
      font-size: 14px; }
  .ui-info-loginBox .lb_btnline {
    margin-bottom: 20px;
    padding-left: 55px; }
    .ui-info-loginBox .lb_btnline button {
      width: 220px;
      font-size: 18px;
      letter-spacing: 5px;
      height: 40px;
      line-height: 40px; }
  .ui-info-loginBox .lb_registerline {
    color: #9e9e9e;
    font-size: 14px;
    padding-left: 100px; }
    .ui-info-loginBox .lb_registerline a {
      color: #eb9000; }
      .ui-info-loginBox .lb_registerline a:hover {
        color: #eb9000; }

* + html .ui-info-loginBox .ui-tips {
  color: #db281f;
  padding: 5px 8px;
  width: 204px; }

.expert_box {
  padding-bottom: 10px; }
  .expert_box h3 {
    font-size: 16px;
    font-family: "Microsoft YaHei", verdana, Arial, sans-serif;
    color: #1153a7;
    padding-bottom: 10px;
    border-bottom: 4px solid #eef2f6;
    margin-bottom: 20px; }
  .expert_box h4 {
    font-size: 16px;
    font-family: "Microsoft YaHei", verdana, Arial, sans-serif;
    margin-bottom: 9px; }
    .expert_box h4 a {
      color: #666666; }
      .expert_box h4 a:hover {
        color: #1153a7; }
  .expert_box p {
    font-family: "Microsoft YaHei", verdana, Arial, sans-serif;
    color: #9e9e9e;
    line-height: 24px;
    height: 120px;
    overflow: hidden; }
  .expert_box li {
    padding: 0 0 20px 95px;
    border-bottom: 1px dashed #dddddd;
    margin-bottom: 20px;
    position: relative; }
  .expert_box span {
    position: absolute;
    width: 88px;
    top: 0;
    left: 0; }
  .expert_box img {
    border: 1px solid #dddddd;
    display: block; }
  .expert_box .btn {
    display: block;
    font-size: 12px;
    height: 28px;
    margin-top: 4px;
    line-height: 28px; }

* + html .expert_box img {
  margin-bottom: 2px; }

.export_detail_box {
  width: 790px;
  overflow: hidden; }
  .export_detail_box .btn {
    display: block; }
  .export_detail_box .edb_leftside {
    float: left;
    margin-right: 25px;
    width: 230px; }
    .export_detail_box .edb_leftside img {
      border: 1px solid #dddddd;
      margin-bottom: 10px; }
  .export_detail_box .edb_rightside {
    float: right;
    width: 530px; }
    .export_detail_box .edb_rightside h4 {
      font-family: "Microsoft YaHei", verdana, Arial, sans-serif;
      color: #313131;
      font-size: 24px;
      margin-bottom: 15px; }
    .export_detail_box .edb_rightside p {
      font-family: "Microsoft YaHei", verdana, Arial, sans-serif;
      color: #666666;
      line-height: 24px; }

.phone_box {
  width: 560px;
  padding: 0 20px; }
  .phone_box p {
    color: #666666;
    margin-top: 22px;
    line-height: 18px; }
    .phone_box p em {
      color: #db281f; }
  .phone_box .mb_text {
    width: 280px;
    border: 1px solid #dddddd;
    height: 30px;
    padding: 0 5px;
    vertical-align: middle; }
  .phone_box .mb_btnline {
    text-align: center; }
    .phone_box .mb_btnline .btn {
      font-size: 16px;
      display: inline-block;
      width: 120px;
      margin: 0 15px; }
  .phone_box .invalid {
    border-color: #db281f; }
  .phone_box .valid {
    border-color: #73A80D; }

.onCall_box {
  font-size: 24px;
  padding: 35px 70px;
  color: #629500;
  font-family: "Microsoft YaHei", verdana, Arial, sans-serif; }
  .onCall_box .icon {
    display: inline-block;
    vertical-align: middle;
    width: 37px;
    height: 37px;
    background-image: url("../img/bigIcon.png");
    background-position: -540px -80px; }

.nav {
  margin-bottom: 0; }

.lbanner {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; }
  .lbanner a {
    display: block;
    width: 230px;
    height: 50px;
    position: absolute;
    left: 213px;
    bottom: 53px;
    cursor: pointer;
    background-color: #ffffff;
    opacity: 0.01;
    filter: alpha(opacity=1); }

h2 {
  text-align: center;
  font-size: 36px;
  color: #666666;
  font-family: "Microsoft YaHei", verdana, Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 20px; }

.box1 {
  padding: 68px 0 70px;
  text-align: center;
  font-family: "Microsoft YaHei", verdana, Arial, sans-serif; }
  .box1 h2 {
    margin-bottom: 38px; }
  .box1 ul {
    overflow: hidden;
    margin: 0 auto;
    padding-top: 11px;
    width: 984px; }
  .box1 li {
    display: inline;
    position: relative;
    float: left;
    margin: 0 48px;
    border: 1px solid #dddddd;
    width: 228px; }
    .box1 li:first-child .icon {
      background-position: -93px 0; }
  .box1 img {
    vertical-align: top; }
  .box1 .info {
    padding: 21px 0 16px;
    border-top: 1px solid #dddddd;
    height: 85px; }
  .box1 .title {
    padding-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
    color: #666666; }
  .box1 .price {
    padding-bottom: 3px;
    color: #d40f26;
    font-weight: 700;
    font-size: 18px; }
    .box1 .price em {
      font-size: 30px; }
  .box1 .market {
    color: #bcbcbc;
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through; }
  .box1 .icon {
    position: absolute;
    top: -11px;
    right: -13px;
    padding-top: 3px;
    width: 75px;
    height: 72px;
    background: url("../img/landingPage/landingPage003003.png") no-repeat -93px -89px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700; }
    .box1 .icon em {
      font-size: 16px; }
  .box1 .tips {
    padding-top: 18px;
    font-size: 14px;
    color: #2c549d; }
  .box1 .sec {
    font-size: 16px; }
  .box1 a {
    display: block;
    margin: 50px auto 0;
    width: 230px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    font-size: 24px;
    background: -webkit-gradient(linear, left top, left bottom, from(#689f39), to(#629501));
    background: -webkit-linear-gradient(top, #689f39, #629501);
    background: -moz-linear-gradient(top, #689f39, #629501);
    background: -ms-linear-gradient(top, #689f39, #629501);
    background: linear-gradient(top, #689f39, #629501);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#689f39', endColorstr='#629501', GradientType='0');
    /* IE*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 3px rgba(205, 204, 204, 0.7), 1px 0 1px rgba(205, 204, 204, 0.7), -1px 0 1px rgba(205, 204, 204, 0.7);
    -moz-box-shadow: 0 5px 3px rgba(205, 204, 204, 0.7), 1px 0 1px rgba(205, 204, 204, 0.7), -1px 0 1px rgba(205, 204, 204, 0.7);
    -o-box-shadow: 0 5px 3px rgba(205, 204, 204, 0.7), 1px 0 1px rgba(205, 204, 204, 0.7), -1px 0 1px rgba(205, 204, 204, 0.7);
    -ms-box-shadow: 0 5px 3px rgba(205, 204, 204, 0.7), 1px 0 1px rgba(205, 204, 204, 0.7), -1px 0 1px rgba(205, 204, 204, 0.7);
    box-shadow: 0 5px 3px rgba(205, 204, 204, 0.7), 1px 0 1px rgba(205, 204, 204, 0.7), -1px 0 1px rgba(205, 204, 204, 0.7); }

.box2 {
  background-color: #ffffff;
  padding: 68px 0 0px; }
  .box2 .outer {
    background-color: #ffffff;
    padding: 10px;
    width: 901px;
    margin: 0 auto;
    box-shadow: 0px 5px 2px #d8d8d8,0 -1px 1px #d8d8d8; }
  .box2 h2 {
    margin-bottom: 28px; }
  .box2 table {
    width: 100%;
    font-family: "Microsoft YaHei", verdana, Arial, sans-serif; }
    .box2 table th {
      text-align: center;
      font-size: 18px;
      vertical-align: middle; }
    .box2 table td {
      text-align: left;
      vertical-align: middle;
      padding: 18px 0;
      font-size: 16px; }
    .box2 table .icon {
      display: inline-block;
      width: 28px;
      height: 28px;
      background-image: url("../img/smallIcon.png");
      background-position: -280px -20px;
      vertical-align: middle;
      margin-right: 10px; }
  .box2 thead th {
    height: 40px; }
    .box2 thead th.col1 {
      background-color: #e5e5e5;
      color: #666666; }
    .box2 thead th.col2 {
      background-color: #1153a7;
      color: #ffffff; }
    .box2 thead th.col3 {
      background-color: #7d7d7d;
      color: #ffffff; }
  .box2 tbody .col1 {
    color: #ffffff; }
  .box2 tbody .col2 {
    padding-left: 23px;
    color: #629500; }
  .box2 tbody .col3 {
    color: #666666;
    text-align: center; }
  .box2 .odd th {
    background-color: #d1906c; }
  .box2 .odd .col3 {
    background-color: #f2f2f2; }
  .box2 .even th {
    background-color: #ddad92; }
  .box2 .even .col2 {
    position: relative;
    background-color: #f1ece4;
    padding-left: 61px; }
    .box2 .even .col2 i {
      position: absolute;
      left: 23px; }
    .box2 .even .col2 .third {
      top: 22px; }
  .box2 .even .col3 {
    background-color: #e5e1da; }
  .box2 .box_line {
    margin: 70px auto 0;
    width: 950px;
    border-bottom: 1px solid #dddddd; }

.box2_3 {
  padding: 68px 0 70px;
  background-color: #f0f0f0;
  font-family: "Microsoft YaHei", verdana, Arial, sans-serif; }
  .box2_3 h2 {
    margin-bottom: 38px; }
  .box2_3 dl {
    margin: 0 auto;
    width: 956px;
    overflow: hidden;
    text-align: center; }
    .box2_3 dl dd {
      float: left;
      width: 458px;
      color: #3361a7; }
      .box2_3 dl dd:first-child {
        margin-right: 38px;
        color: #b45d10; }
        .box2_3 dl dd:first-child p {
          border-color: #b45d10; }
      .box2_3 dl dd h3 {
        padding-bottom: 20px;
        font-size: 36px; }
      .box2_3 dl dd p {
        border: 1px solid #3361a7;
        padding: 9px 0;
        font-size: 18px;
        line-height: 27px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        border-radius: 50px; }

.box4 {
  padding: 68px 0 0; }
  .box4 h2 {
    margin-bottom: 50px; }
  .box4 p {
    overflow: hidden;
    width: 840px;
    border-bottom: 1px solid #dddddd;
    padding: 0 55px 30px;
    margin: 0 auto; }
    .box4 p a {
      background-color: #f3f3f3;
      margin-bottom: 30px;
      font-size: 20px;
      font-family: "Microsoft YaHei", verdana, Arial, sans-serif;
      color: #1153a7;
      float: left;
      width: 170px;
      height: 40px;
      line-height: 40px;
      text-align: center; }
      .box4 p a.middle {
        margin: 0 150px 30px; }

.box6 {
  padding: 68px 0 70px; }
  .box6 h2 {
    margin-bottom: 50px; }
  .box6 ol {
    background: url("../img/landingPage/landingPage001004.png") 0 0 no-repeat;
    width: 927px;
    height: 90px;
    margin: 0 auto; }
    .box6 ol li {
      display: none; }

.box_contactus {
  position: fixed;
  right: 24px;
  bottom: 100px;
  z-index: 99;
  cursor: pointer; }

.mask {
  width: 100%;
  height: 2000px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: .5;
  filter: alpha(opacity=50); }

.ui-dialog {
  position: fixed;
  top: 50px;
  left: 50%;
  z-index: 1010;
  background-color: #ffffff;
  border-radius: 8px;
  width: 300px;
  font-family: "Microsoft YaHei" verdana Arial, sans-serif; }
  .ui-dialog .ui-title {
    font-size: 1.125em;
    padding: 20px 15px;
    border-bottom: 1px solid #dddddd;
    color: #666666; }
  .ui-dialog .ui-content {
    padding: 30px 15px;
    border-bottom: 1px solid #c7c7c7;
    line-height: 1.2em;
    color: #666666; }
  .ui-dialog .ui-btnGroup {
    border-top: 1px solid #f8f8f8;
    padding: 15px;
    overflow: hidden; }
    .ui-dialog .ui-btnGroup button {
      border: 1px solid #dddddd;
      background-color: #ffffff;
      display: inline-block;
      border-radius: 4px;
      padding: 8px 16px;
      float: right;
      line-height: 1;
      letter-spacing: 1;
      cursor: pointer;
      margin-left: 15px;
      color: #999999; }
      .ui-dialog .ui-btnGroup button:first-child {
        color: #ffffff;
        border: 1px solid #0a438b;
        background-color: #0a438b; }
  .ui-dialog .ui-closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #dddddd;
    font-weight: bold;
    font-family: verdana;
    font-size: 20px; }

.ui-info {
  background-color: #ffffff;
  padding: 45px 30px;
  position: fixed;
  z-index: 110;
  top: 100px;
  left: 50%; }

.ui-info-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #9e9e9e; }
  .ui-info-close:hover {
    color: #DB281F; }

.ui-info-loginBox {
  padding: 0 50px; }
  .ui-info-loginBox h3 {
    font-size: 24px;
    color: #9e9e9e;
    font-family: "Microsoft YaHei", verdana, Arial, sans-serif;
    padding-left: 120px;
    margin-bottom: 30px; }
  .ui-info-loginBox input {
    vertical-align: middle; }
  .ui-info-loginBox li {
    margin-bottom: 20px; }
  .ui-info-loginBox .lb_title {
    width: 3em;
    text-align: right; }
  .ui-info-loginBox label {
    font-family: "Microsoft YaHei", verdana, Arial, sans-serif;
    font-size: 16px;
    color: #666666;
    margin-right: 5px;
    display: inline-block; }
  .ui-info-loginBox .lb_text {
    padding: 0 5px;
    width: 208px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #dddddd; }
  .ui-info-loginBox .ui-tips {
    margin: 0 0 10px 53px;
    display: none;
    width: 182px;
    background-color: #f7f7f7;
    border-radius: 4px;
    padding: 5px 8px 5px 29px;
    position: relative;
    color: #666666;
    vertical-align: top; }
    .ui-info-loginBox .ui-tips:before {
      content: "!";
      background: url("../img/smallIcon.png") -340px 0 no-repeat;
      color: #ffffff;
      height: 16px;
      line-height: 16px;
      text-align: center;
      display: block;
      width: 16px;
      position: absolute;
      top: 5px;
      left: 8px;
      margin-right: 5px; }
  .ui-info-loginBox .lb_find {
    color: #9e9e9e;
    font-size: 12px;
    margin-left: 12px; }
  .ui-info-loginBox .lb_rememberline {
    padding-left: 53px; }
    .ui-info-loginBox .lb_rememberline input {
      vertical-align: middle; }
    .ui-info-loginBox .lb_rememberline label {
      font-size: 14px; }
  .ui-info-loginBox .lb_btnline {
    margin-bottom: 20px;
    padding-left: 55px; }
    .ui-info-loginBox .lb_btnline button {
      width: 220px;
      font-size: 18px;
      letter-spacing: 5px;
      height: 40px;
      line-height: 40px; }
  .ui-info-loginBox .lb_registerline {
    color: #9e9e9e;
    font-size: 14px;
    padding-left: 100px; }
    .ui-info-loginBox .lb_registerline a {
      color: #eb9000; }
      .ui-info-loginBox .lb_registerline a:hover {
        color: #eb9000; }

* + html .ui-info-loginBox .ui-tips {
  color: #db281f;
  padding: 5px 8px;
  width: 204px; }

.footer {
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 30px;
  font-size: 12px;
  color: #959595; }
  .footer a {
    text-decoration: none;
    color: #959595; }
    .footer a:hover {
      color: #1153a7; }
  .footer img {
    margin: 0 12px; }
  .footer .f_readme, .footer .f_map {
    margin-bottom: 20px; }
  .footer .f_safe {
    margin-bottom: 27px; }
  .footer .f_copyright {
    background-color: #1153a7;
    color: #ffffff;
    padding: 5px 0; }

.fixed_box {
  position: fixed;
  z-index: 5;
  bottom: 320px;
  right: 0; }
  .fixed_box a {
    background-color: #f0f0f0;
    width: 2em;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    color: #666666; }
    .fixed_box a:first-child {
      margin-bottom: 2px; }
    .fixed_box a:hover {
      color: #1153a7; }
    .fixed_box a .icon {
      width: 16px;
      height: 10px;
      background-image: url("../img/smallIcon.png");
      background-position: -260px -20px;
      display: inline-block; }

/*# sourceMappingURL=landingPage005.css.map */
