.pad01{
    float: right;
    background-color: #cfcfcf;
    width: 640px;
    height: 380px;
}

.pad02{
    background-color: #cfcfcf;
    width: 960px;
    height: 90px;
    margin-bottom: 30px;
}

.pad03{
    background-color: #cfcfcf;
    width: 210px;
    height: 165px;
    margin-bottom: 30px;
}

.pad05{
    background-color: #cfcfcf;
    width: 210px;
    height: 165px;
    margin-bottom: 30px;
}

.pad06{
   background-color: #cfcfcf;
    width: 210px;
    height: 90px;
    margin-bottom: 30px;
}