@import "variable";
@import "maxin";


$normalColor: (info: #1153A7,
        warning: #eb9000, 
        primary: #db281f,
        prompt: #629500,
        unneed: #f7f7f7);

$hoverColor: (info: #0a438b,
        warning: #ea7f00, 
        primary: #b90900,
        prompt: #457a00,
        unneed: #dddddd);

.btn{
    color: #ffffff;
    border:none;
    font-size: 14px;
    font-family: $ffa;
    font-weight: bold;
    text-decoration: none;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 3px;
    width: 100%;
    display: block;
    @include button-shadow;
}

.btn_unneed{
    color: $mgray;
}

@each $suffix, $color in $normalColor {
    .btn_#{$suffix} {
        background-color: $color;
    }
}


@each $suffix, $color in $hoverColor {
    .btn_#{$suffix}:hover {
        background-color: $color;
    }
}