.carousel{
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.carousel_indicators{
    position: absolute;
    list-style: none;
    bottom: 12px;
    width: 100%;
    text-align: right; 
    z-index: 10;
}


.carousel_indicators li, .carousel_indicators span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #909090;
    border-radius: 5px;
    margin-right: 13px;
    cursor: pointer;
}

.carousel_indicators li.active, .carousel_indicators span.active{
    background-color: #1153a7;
}

.carousel_inner{
    list-style: none;
    overflow: hidden;
    width: 100%;


}

.carousel_inner li{
    position: absolute;
    z-index: 2;
    top: 500px;
}


.carousel_inner li.active{
    position: static;         
}