.nav{
	margin-bottom: 0;
}

.lbanner{
	position: relative;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	a{
		display: block;
		width: 230px;
		height: 50px;
		position: absolute;
		left: 752px;
		top: 282px;
		cursor: pointer;
		background-color: #ffffff;
		@include opacity(1);
	}
}



h2{
	text-align: center;
	font-size: 36px;
	color: $mgray;
	font-family: $ffa;
	font-weight: normal;
	margin-bottom: 20px;
}

.box1{
	padding: 80px 0 95px;
	text-align: center;
	p{
		font-size: 24px;
		color: #8d8d8d;
		font-family: $ffa;
		margin-bottom: 58px;
	}
	ol{
		background: url('../img/landingPage/landingPage001002.png') 0 0 no-repeat;
		width: 920px;
		height: 95px;
		margin: 0 auto;
		li{
			display: none;
		}
	}	
}

.box2{
	background-color: #f0f0f0;
	padding: 94px 0 96px;
	.outer{
		background-color: #ffffff;
		padding: 10px;
		width: 870px;
		margin: 0 auto;
		box-shadow: 0px 5px 2px #d8d8d8;
	}

	table{
		width: 100%;
		font-family: $ffa;
		th{
			text-align: center;
			font-size: 18px;
			vertical-align: middle;
		}
		td{
			text-align: left;
			vertical-align: middle;
			padding: 18px 0;
			font-size: 16px;
		}

		.icon{
			display: inline-block;
			@include sIconSprite(24, 28px, 28px);
			vertical-align: middle;
			margin-right: 10px;
		}
	}
	thead{
		th{
			height: 40px;
			&.col1{
				background-color: #e5e5e5;
				color: $mgray;
			}
			&.col2{
				background-color: $lblue;
				color: #ffffff;
			}
			&.col3{
				background-color: #7d7d7d;
				color: #ffffff;
			}
		}
	}
	tbody{
		.col1{
			color: #ffffff;
		}
		.col2{
			padding-left: 23px;
			color: $mgreen;
		}
		.col3{
			color: $mgray;
			padding-left: 15px;
		}
	}

	.odd{
		th{
			background-color: #ddad92;
		}

		.col3{
			background-color: #f2f2f2;
		}
	}
	.even{
		th{
			background-color: #d1906c;
		}
		
		.col2{
			background-color: #f1ece4;
		}

		.col3{
			background-color: #e5e1da;
		}
		
	}
}

.box3{
	padding: 96px 0 75px;
	h2{
		margin-bottom: 48px;
	}
	ul{
		font-family: $ffa;
		width: 1028px;
		overflow: hidden;
		margin: 0 auto;
		li{
			float: left;
			width: 454px;
			color: $mgray;
			padding: 0 30px 20px;
			font-size: 16px;
		}
		h3{
			margin-bottom: 8px;
			font-size: 24px;
			color: #396bae;
			font-weight: bold;
		}
	}
}

.box4{
	padding: 60px 0 0;
	h2{
		margin-bottom: 50px;
	}
	p{
		overflow: hidden;
		width: 840px;
		border-bottom: 1px solid $linegray;
		padding: 0 60px 30px;
		margin: 0 auto;
		a{
			background-color: #f3f3f3;
			margin: 0 20px 30px 20px;
			font-size: 20px;
			font-family: $ffa;
			color: $lblue;
			float:left;
			width: 170px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			&.middle{
				margin: 0 150px 30px;
			}
		}
	}
}

.box5{
	padding-top: 50px;
	h2{
		margin-bottom: 25px;
	}
	dl{
		width: 840px;
		border-bottom: 1px solid $linegray;
		padding: 0 60px 40px;
		margin: 0 auto;
		font-family: $ffa;
		.icon{
			display: inline-block;
			position: absolute;
			top: 2px;
			left: 25px;
		}
		dt{
			color: #ed9415;
			font-weight: bold;
			position: relative;
			font-size: 18px;
			padding: 18px 30px 10px 55px;
			border-top: 1px dashed $linegray;
			line-height: 1.5em;
			&:first-child{
				border-top: none;
			}
			.icon{
				top: 22px;
				@include sIconSprite(25, 22px, 22px);
			}
		}
		dd{
			color: $mgray;
			position: relative;
			font-size: 16px;
			line-height: 1.5em;
			padding: 0 30px 20px 55px;
			
			.icon{
				@include sIconSprite(26, 22px, 22px);
			}
		}
	}
}

.box6{
	padding: 60px 0;
	h2{
		margin-bottom: 50px;
	}
	ol{
		background: url('../img/landingPage/landingPage001004.png') 0 0 no-repeat;
		width: 927px;
		height: 90px;
		margin: 0 auto;
		li{
			display: none;
		}
	}
}

.box7{
	background-color: #f2ede7;
	padding: 35px 0;
	.btn{
		font-weight: normal;
		width: 230px;
		height: 50px;
		line-height: 50px;
		font-size: 24px;
		margin: 0 auto;
		border-radius: 8px;
	}
}


.box_contactus {
	position : fixed;
	right:24px;
	bottom : 100px;
	z-index : 99;
	cursor:pointer;
}