@import "variable";
@import "maxin";

.paginate{
    line-height: 24px;
    text-align: center;
    font-family: $fft;
    a{
        margin: 0 3px;
        cursor: pointer;
        vertical-align: middle;
    }
    .p-prev-btn, .p-next-btn{
        color: $mgray;
        
    }
    
    .p-prev-btn{
        margin-right: 18px;
    }
    
    .p-next-btn{
        margin-left: 18px;
    }
    
    .p-num{
        display: inline-block;
        width: 2em;
        color: $mgray;
        border: 1px solid $linegray;
        padding: 2px 0;
        border-radius: 3px;
    }
    
    .p-selected{
        background-color: #f7f7f7;
        color: $lblue;
        font-weight: bold;
    }
    
    .p-ellipsis{
        color: $mgray;
    }
    
    .p-disabled{
        cursor: default;
        color: $lgray;
    }
}