@import 'variable';
@import 'maxin';


.tranc_step_box{
    padding-bottom: 30px;
    h3{
        padding: 10px 0 10px 16px;
        border-left: 6px solid $lblue;
        color: $lblue;
        background-color: #eef2f6;
        font-size: 16px;
        font-family: $ffa;
        font-weight: bold;
        margin-bottom: 28px;
    }
    
    h4{
        font-family: $ffa;
        margin-bottom: 16px;
    }
    
    ol{
        overflow: hidden;
        width: 972px;
        li{
            float:left;
            border-bottom: 4px solid #eb9000;
            height: 96px;
            width: 230px;
            margin: 0 13px 20px 0;
            background-color: #f7f7f7;
        }
        
        p{
            overflow: hidden;
            padding: 25px 22px 0 15px;
            font-size: 12px;
            font-family: $ffa;
            color: $mgray;
            line-height: 18px;
        }
        
        .icon{
            float:left;
            font-family: $ffn;
            margin-right: 10px;
            font-size: 24px;
            color: #eb9000;
            font-weight: bold;
            text-align: center;
            line-height: 50px;
            @include bIconSprite(5, 50px, 50px);
        }
    }
}