
$ffa: "Microsoft YaHei", verdana, Arial, sans-serif;
$fft: "simsun" verdana Arial, sans-serif;
$ffn: Arial, sans-serif;
$mfs: 14px;
$sfs: 12px;
$xsfs: 10px;
$lfs: 16px;
$xlfs: 18px;
$lgray: #9e9e9e;
$mgray: #666666;
$dgray: #313131;
$linegray: #dddddd;
$lblue: #1153a7;
$mred: #db281f;
$morange: #f36d00;
$lorange: #eb9000;
$mgreen: #629500;
$linkColor: #08c #333 #08c;